*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

#home{
  text-decoration: none;
 }
.parent .navbar{
    height:75px;
    width:100% ;
    background-color:yellow;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    position:sticky;
    top: 0;
    z-index: 1;
}
   
   .parent .navbar .logo{
   
    width: 25%;
    margin-left: 20px;
}
.parent .navbar .content{
   width: 70%;
   color: rgb(174, 37, 131);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   
   font-weight: 500;
   font-style:normal;
   
}
.parent .navbar .content a{
  color: rgb(174, 37, 131);
}

.parent .navbar .content a:hover{
color:green
}


  .from{
    padding: 40px;
  } 
  .name{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }
  .name input{
    height: 40px;
    width: 380px;
  }
  .name2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  }
  .name2  input{
    height: 40px;
    width: 575px;
  }
  button{
    height: 40px;
    width: 100px;
    padding: 5px;
  }
  button:hover{
    background-color: rgba(0, 0, 0, 0.632);
  }
 footer{
  height: 530px;
  background-color: rgba(255, 255, 0, 0.587);
 }
 .footer1{
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: yellow; */
 }
 .footer3{
  position: relative;
  top: -115px;
 }
 .footer4{
  position: relative;
  top: -18px;
 }
h4{
  color: rgba(165, 42, 42, 0.699);
}
 .box{
  height: 200px;
        width: 250px;
        /* border: 2px solid black; */
        background-color:white;
        overflow-x: auto;  
        padding: 10px;     
}
.box1{
  height: 510px;
    width: 210px;
    box-shadow: 5px 3px 10px 3px gray;
border-radius: 5px;
padding: 5px;
}
.box1 i{
  font-size: 10px;
}
hr{
  color: green;
}
.footer2 a{
  color: green;
}

.footer2 a:hover{

  color:rgb(34, 34, 119);
 
}.footer2 a{
   text-decoration: none;
}